<a href="https://colab.research.google.com/github/Settee-ake/.github/blob/master/db_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## Database Foundation Project
#-----------------------
# Name: Settee Chaitragool
# ID: 6281551
#-----------------------

In [2]:
%load_ext sql

In [3]:
%%sql
postgresql://root:6CGUWcmn6cyMG8FtgEJPXLYCwZw4Fnjl@dpg-cmivnva1hbls738gohn0-a.singapore-postgres.render.com/remote_pg_db_a8sj

In [5]:
%%sql

SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='TRADITIONAL,ALLOW_INVALID_DATES';

 * postgresql://root:***@dpg-cmivnva1hbls738gohn0-a.singapore-postgres.render.com/remote_pg_db_a8sj
(psycopg2.errors.SyntaxError) syntax error at or near "@"
LINE 1: SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='TRADITIONAL,ALLOW_IN...
            ^

[SQL: SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='TRADITIONAL,ALLOW_INVALID_DATES';]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [7]:
%%sql
-- -----------------------------------------------------
-- Table `location`
-- -----------------------------------------------------
DROP TABLE IF EXISTS `location` ;

CREATE TABLE IF NOT EXISTS `location` (
  `id` INT NOT NULL,
  `street_address` VARCHAR(100) NOT NULL,
  `city` VARCHAR(50) NOT NULL,
  `state` VARCHAR(2) NOT NULL,
  `zipcode` INT(5) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE INDEX `zipcode_UNIQUE` (`zipcode` ASC))

-- -----------------------------------------------------
-- Table `vehicle_type`
-- -----------------------------------------------------
DROP TABLE IF EXISTS `vehicle_type` ;

CREATE TABLE IF NOT EXISTS `vehicle_type` (
  `id` INT NOT NULL,
  `name` VARCHAR(45) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE INDEX `id_UNIQUE` (`id` ASC))

-- -----------------------------------------------------
-- Table `vehicle`
-- -----------------------------------------------------
DROP TABLE IF EXISTS `vehicle` ;

CREATE TABLE IF NOT EXISTS `vehicle` (
  `id` INT NOT NULL,
  `brand` VARCHAR(45) NOT NULL,
  `model` VARCHAR(45) NOT NULL,
  `model_year` YEAR NOT NULL,
  `mileage` INT(9) UNSIGNED NOT NULL,
  `color` VARCHAR(45) NOT NULL,
  `vehicle_type_id` INT NOT NULL,
  `current_location_id` INT NOT NULL,
  `rental_price` DECIMAL(13,2) UNSIGNED NOT NULL,
  PRIMARY KEY (`id`),
  INDEX `fk_vehicle_vehicle_type_idx` (`vehicle_type_id` ASC),
  INDEX `fk_vehicle_location_idx` (`current_location_id` ASC),
  CONSTRAINT `fk_vehicle_vehicle_type`
    FOREIGN KEY (`vehicle_type_id`)
    REFERENCES `vehicle_type` (`id`)
    ON DELETE RESTRICT
    ON UPDATE CASCADE,
  CONSTRAINT `fk_vehicle_current_location`
    FOREIGN KEY (`current_location_id`)
    REFERENCES `location` (`id`)
    ON DELETE RESTRICT
    ON UPDATE CASCADE);


-- -----------------------------------------------------
-- Table `customer`
-- -----------------------------------------------------
DROP TABLE IF EXISTS `customer` ;

CREATE TABLE IF NOT EXISTS `customer` (
  `id` INT NOT NULL,
  `first_name` VARCHAR(45) NOT NULL,
  `last_name` VARCHAR(45) NOT NULL,
  `birth_date` DATE NOT NULL,
  `license_number` VARCHAR(12) NOT NULL,
  `phone_number` VARCHAR(12) NULL,
  `email` VARCHAR(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE INDEX `driver_license_number_UNIQUE` (`license_number` ASC),
  UNIQUE INDEX `email_UNIQUE` (`email` ASC))

-- -----------------------------------------------------
-- Table `fuel_option`
-- -----------------------------------------------------
DROP TABLE IF EXISTS `fuel_option` ;

CREATE TABLE IF NOT EXISTS `fuel_option` (
  `id` INT NOT NULL,
  `name` VARCHAR(45) NOT NULL,
  `description` VARCHAR(255) NULL,
  PRIMARY KEY (`id`))

-- -----------------------------------------------------
-- Table `rental`
-- -----------------------------------------------------
DROP TABLE IF EXISTS `rental` ;

CREATE TABLE IF NOT EXISTS `rental` (
  `id` INT NOT NULL,
  `begin_date` DATE NOT NULL,
  `end_date` DATE NOT NULL,
  `customer_id` INT NOT NULL,
  `vehicle_type_id` INT NOT NULL,
  `fuel_option_id` INT NOT NULL,
  `pickup_location_id` INT NOT NULL,
  `drop_off_location_id` INT NOT NULL,
  PRIMARY KEY (`id`),
  INDEX `fk_rental_customer_idx` (`customer_id` ASC),
  INDEX `fk_rental_fuel_option_idx` (`fuel_option_id` ASC),
  INDEX `fk_rental_pickup_location_idx` (`pickup_location_id` ASC),
  INDEX `fk_rental_dropoff_location_idx` (`drop_off_location_id` ASC),
  INDEX `fk_rental_vehicle_type_idx` (`vehicle_type_id` ASC),
  CONSTRAINT `fk_rental_customer`
    FOREIGN KEY (`customer_id`)
    REFERENCES `customer` (`id`)
    ON DELETE RESTRICT
    ON UPDATE CASCADE,
  CONSTRAINT `fk_rental_fuel_option`
    FOREIGN KEY (`fuel_option_id`)
    REFERENCES `fuel_option` (`id`)
    ON DELETE RESTRICT
    ON UPDATE CASCADE,
  CONSTRAINT `fk_rental_pickup_location`
    FOREIGN KEY (`pickup_location_id`)
    REFERENCES `location` (`id`)
    ON DELETE RESTRICT
    ON UPDATE CASCADE,
  CONSTRAINT `fk_rental_dropoff_location`
    FOREIGN KEY (`drop_off_location_id`)
    REFERENCES `location` (`id`)
    ON DELETE RESTRICT
    ON UPDATE CASCADE,
  CONSTRAINT `fk_rental_vehicle_type`
    FOREIGN KEY (`vehicle_type_id`)
    REFERENCES `vehicle_type` (`id`)
    ON DELETE RESTRICT
    ON UPDATE CASCADE);



## Age Filtration ----------------
DELIMITER $$

DROP TRIGGER IF EXISTS `age_check` $$
CREATE DEFINER = CURRENT_USER TRIGGER `age_check` BEFORE INSERT ON `customer` FOR EACH ROW
BEGIN
DECLARE age INT UNSIGNED;
SELECT TIMESTAMPDIFF(YEAR, new.birth_date, CURDATE()) INTO age FROM DUAL;
    IF (age < 21) THEN
    SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'You are too young to drive bro~';
    END IF;
END$$


DELIMITER ;

 * postgresql://root:***@dpg-cmivnva1hbls738gohn0-a.singapore-postgres.render.com/remote_pg_db_a8sj
(psycopg2.errors.SyntaxError) syntax error at or near "`"
LINE 4: DROP TABLE IF EXISTS `location` ;
                             ^

[SQL: -- -----------------------------------------------------
-- Table `location`
-- -----------------------------------------------------
DROP TABLE IF EXISTS `location` ;]
(Background on this error at: https://sqlalche.me/e/20/f405)